/secrets.cpp
.vscode
credentials.json
.mise.toml

*.o
tests/unit/utils_test
.worktrees/

# Simulator
simulator/simulator
simulator/*.o
simulator/mocks/*.o
simulator/mocks/freertos/*.o
simulator-state.json
.env
